body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.big {
  font-size: 10vh;
}

.big2 {
  font-size: 6vh;
}

.desc, .swing {
  margin-top: -40px;
  font-size: 3vh;
}

small {
  font-size: 1.25vw;
}

input {
  font-size: 20px;

}

.intro {
  height: 100vh;
  padding-top: 0.1px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #4357AD;
  color: #E4DFDA;
  background-attachment: fixed;
}

a{
  color: #E4DFDA;
}

.swing {
  margin-top: 20vh;
  text-align: center;
}

.signupdiv {
  padding-top: 0.1px;
  background-color: #C1666B;
  color: #E4DFDA;
  height: 100vh;
  background-attachment: fixed;
  padding-left: 5%;
  display: flex;
}

form {
  width: 17vw;
  margin: auto;
}

input {
  margin-left: .5vw;
  margin-right: .5vw;
  width: 16vw;
  border-width: 0px;
  font-size: 1.1vw;
  background-color: #EDEDED;
  color: #282828;
}

.rightsu {
  float: left;
  width: 33vw;
  background-color: #EDEDED;
  flex-grow: 1;
  padding-top: 30vh;
  padding-left: 2.5%;
}

.descin {
  width: 16vw;
}

.leftsu {
  padding-right: 5%;
  width: 55vw;
}

.normalsize {
  font-size: 2vh;
}

.btn {
  font-size: 1.1vw;
  width: 16vw;
  margin-left: .5vw;
  border-width: 0px;
}

.red {
  color: #C1666B;
  font-size: .9vw;
}
