body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.big {
  font-size: 5vw;
}

.desc, .swing {
  margin-top: -40px;
  font-size: 2.5vh;
  line-height: 1.7;
}

small {
  font-size: 1.25vw;
}

input {
  font-size: 20px;

}

.intro {
  height: 100vh;
  padding-top: 1px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #4357AD;
  color: #E4DFDA;
}

.intro a{
  background-color: #4357AD;
  color: #E4DFDA;
}

.swing {
  margin-top: 20vh;
  text-align: center;
}

span {
  font-weight: 600;
}
