@keyframes strobe {
  0%{
    background-color: black;
  }
  50%{
    background-color: black;
  }
  51%{
    background-color: white;
  }
  100%{
    background-color: white;
  }
}

.hide {
  display: none;
}

p, button{
  font-size: 25px;
}

#strobe {
  animation-duration: 0.001s;
  animation-iteration-count: infinite;
  height: 100%;
  margin: 0;
  vertical-align: top;
}

body, html {
  height: 100%;
  margin: 0px;
}
