@keyframes fadein {
  from{opacity: 0;}
  to{opacity: 1;}
}

body{
  background-color: #282828;
  color: #d1c9a7;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 10% 0px 10%;
  animation-name: fadein;
  animation-duration: 3s;
}

.big {
  font-family: 'Amaranth', sans-serif;
  font-size: 100px;
  text-align: center;
}

span {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.notbig {
  font-size: 30px;
  width: 85%;
  margin: auto;
}

small {
  font-size: 23px;
}

a {
  color: #d1c9a7;
}
